<div class="row align-items-center" id="share-<%= share.id %>">
  <div class="col-md-6 videoWrapper">
    <iframe src='https://www.youtube.com/embed/<%= share.uid %>?rel=0&autoplay=0' frameborder='0' allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <p>
      <span class="title"><%= share.title %></span> <a data-confirm="Are you sure?" data-method="delete" href="/shares/<%= share.id %>" rel="nofollow">Delete</a>
    </p>
    <p>
      <span class="user">Shared by: <%= share.user.email || 0 %></span>
    </p>
    <p>
      <%= share.likes %> <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
      <%= share.dislikes %> <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
    </p>
    <span>Description:</span>
    <p class="description"><%=h truncate(share.description, length: 150) %></p>
  </div>
</div>