<div class="row align-items-center" id="share-<%= share.id %>">
  <div class="col-md-6 videoWrapper">
    <iframe src='https://www.youtube.com/embed/<%= share.uid %>?rel=0&autoplay=<%= share.id == Share.first.id ? 1 : 0 %>' frameborder='0' allowfullscreen></iframe>
    <% if share.comments.any? %>
        <%= render share.comments %>
    <% end %>
  </div>
  <div class="col-md-6">
    <p>
      <span class="title"><%= share.title %></span>
      <% if logged_in? %>
        <% if share.user.id == @current_user.id %>
          <a data-confirm="Are you sure?" data-method="delete" href="/shares/<%= share.id %>" rel="nofollow">Delete</a> |
        <% end %>
        <% if @current_user.favorites.pluck(:share_id).include?(share.id) %>
          This movie is in your favorites
        <% else %>
          <a data-confirm="Are you sure?" data-method="patch" href="/shares/<%= share.id %>/add_favorite" rel="nofollow">Add to favorites</a>
    <% end %>
      <% end %>
    </p>
    <p>
      <%= form_for(Comment.new, :url => url_for(:controller => 'static_pages', :action => 'create_comments')) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :description , "Comment" %>
        <%= hidden_field_tag 'comment[share_id]', share.id  %>
        <%= f.text_area :description, class: 'form-control', required: true %>
        <%= f.submit "Comment", class: "btn btn-primary" %>
      </div>
    <% end %>
    </p>
    <p>
      <span class="user">Shared by: <%= share.user.email || 0 %></span>
    </p>
    <p>
      <%= share.likes %> <span class="glyphicon glyphicon-thumbs-up"></span>
      <%= share.dislikes %> <span class="glyphicon glyphicon-thumbs-down"></span>
    </p>
    <span>Description:</span>
    <p class="description"><%=h truncate(share.description, length: 150) %></p>
  </div>
</div>