<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <%= fa_icon "home" %> Funny Movies
    <% end %>
    <nav>
      <%= form_for(:session, url: login_path) do |f| %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Share a movie", share_path %></li>
          <li><%= link_to "Favorites", share_path %></li>
          <li><%= link_to "Histories", share_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
            <li><%= f.email_field :email, placeholder: "Please enter email!" %></li>
            <li><%= f.password_field :password, placeholder: "Please enter password!" %></li>
            <li><%= f.submit "Log in" %></li>
        <% end %>
      </ul>
      <% end %>
    </nav>
  </div>
</header>